.circle{
    border: solid pink;
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    background-color: pink;
}

.circle:hover{
    border: solid pink;
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    background-color: pink;
}

.circle:active{
    border: solid yellow;
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
}
