.header-nav-bar-content{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0px;
    right: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav-bar-content{
    height: 5%;
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1vw;

}

.nav-bar-content:hover{
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: pink;
    cursor: pointer;
}

#nav-bar-content-1{
    color: white;    
}

#nav-bar-content-2{
    color: white;
}
