
.header-container{
    height: 100vh;
    width: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
}

.header-content h2{
    color: pink;
    margin: 0px;
    padding: 0px;
}

.header{
    width: 80%;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.header-content{
    border: 2px solid red;
    height: 80%; 
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.header-bottom-part{
    border: 2px solid yellow;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 10%;

}

.header-nav-bar{
    border: 2px solid yellow;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 10%;
    display: flex;
}

.header-content-item{
    border: 2px solid white;
}

#header-content-item-1{
    width: 50%;
    height: 20%;
    position: absolute;
    top:0px;
    left:0px;
}

