#header-content-2{
    position: absolute;
    bottom: 10%;
    /* height: 65%; */
    width: 100%;
    z-index: 1;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
}

h2{
    font-size: 2.5vw;
    color: #F4A698
}

.paragraph{
    font-size: 1vw;
    margin-top: 10%;
}
.header-actual-content{
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    bottom: 0px;
    z-index: 1;
    /* border: 2px solid red; */
    width: 70%;
    height: 100%;
    font-size: 1vw;
    display: inline;
}

.button{
    display: flex;
    flex-direction: row;
    z-index: 1;
}
.buttons{
    position: relative;
    left: 0px;
    padding: 0px;
    font-size: 1vw;
    /* border: 2px solid red; */
    margin-top: 5%;
}

.link-in-body{
    background-color: #F4A698;
    color: black;
    /* border: 2px solid red; */
    z-index: 1;
    width: 250px;
    padding: 5px;
    display: inline;
    border-radius: 10px;
}

.link-in-body:hover{
    background-color: white;
    cursor: pointer;
}

.image-container{
    position: relative;
    z-index: 1;
    /* border: 2px solid red; */
    width: 25%;
    height: 70%;
    display: inline;
    margin-left: 5%;
    border: 2px dotted #F4A698;
    border-radius: 50%;    
    padding: 10px;
}

#link-in-body-2, #link-in-body-3{
    margin-left: 10px;
}

TextAnimation{
    border-radius: 50%;
}