#header-content-2{
    position: absolute;
    bottom: 10%;
    /* height: 65%; */
    width: 100%;
    z-index: 1;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
}

.paragraph{
    font-size: 15px;
    margin-top: 10%;
}
.header-actual-content{
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    bottom: 0px;
    z-index: 1;
    /* border: 2px solid red; */
    width: 70%;
    height: 100%;
    font-size: 1vw;
    display: inline;
}



.image-container{
    /* position: relative; */
    z-index: 1;
    /* border: 2px solid red; */
    width: 25%;
    margin-left: 5%;
    border: 2px dotted #F4A698;
    border-radius: 50%;    
    padding: 10px;
}

#link-in-body-2, #link-in-body-3{
    margin-left: 15px;
}

TextAnimation{
    border-radius: 50%;
}


/* small screen */
#header-content-2-small-screen{
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 1;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    height: 90%;
}

.header-actual-content-small-screen{
    z-index: 1;
    border: 2px solid red;
    width: 100%;
    height: 100%;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
}

.paragraph-small{
    border: 2px solid red;
    font-size: 15px;
    margin-top: 10%;
}

.text-animation-small{
    border: 2px solid green;
}