#header-content-2{
    position: absolute;
    bottom: 0px;
    height: 65%;
    width: 100%;
    z-index: 1;
    /* border: 2px solid blue; */
}

.header-actual-content{
    margin-top: auto;
    margin-bottom: auto;
    position: inherit;
    bottom: 0px;
    z-index: 1;
    /* border: 2px solid red; */

}

.button{
    display: flex;
    flex-direction: row;
    z-index: 1;

}
.buttons{
    position: relative;
    left: 0px;
    padding: 0px;
    
}

.button-in-body{
    background-color: pink;
    color: black;
    margin: 5px;
    /* border: 2px solid red; */
    z-index: 1;
    width: 250px;
    padding: 5px;
    display: inline;
}

.button-in-body:hover{
    background-color: white;
    cursor: pointer;
}
