
.header-container{
    height: 100vh;
    width: 100%;
    /* background-color: #F4A698; */
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container{
    height: 90%;
    width: 80%;
    position: relative;
}