
.thingsIveDone-background{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4A698;
}

.list-item{
    font-size: 3em;
    list-style-type:none;
}

.full-list{
    padding: 50px;
}

.list-item a{
    color: #2E3532;
    text-decoration: none;
}

.list-item a:hover{
    color: lightcoral;
}

