.header-nav-bar-content{
    display: flex;
    flex-direction: row;
    position: absolute;
    /* border: 2px solid red; */
    width: 100%;
    padding-right: 0px;
    text-align: right;
    justify-content: flex-end;
}

.nav-bar-content{
    height: 5%;
    width: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1vw;
    background-color: #F4A698; 
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav-bar-content:hover{
    width: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    cursor: pointer;
}

#nav-bar-content-1, #nav-bar-content-2, #nav-bar-content-3, #nav-bar-content-4, #nav-bar-content-5{
    color: black;   
    margin: 5px;
    /* border-radius: 10px; */
}


a{
    text-decoration: none;
}

.header-nav-bar-content-hamburger{
    height: 5%;
    width: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1vw;
    color: #F4A698; 
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-nav-bar-content-hamburger:hover{
    width: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    cursor: pointer;
}

.header-nav-bar-content-hamburger{
    height: 5%;
    width: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1vw;
    color: #F4A698; 
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-nav-list-content-hamburger:hover{
    color: white;
    cursor: pointer;
}

.header-nav-bar-content-small-screen{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}

.nav-bar-content-list{
    /* border: 2px solid red;
    color: #F4A698; */
    height: 5%;
    width: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1vw;
    background-color: #F4A698; 
    align-items: center;
    justify-content: center;
    text-align: center;
}