.header-nav-bar-content{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0px;
    right: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav-bar-content{
    height: 5%;
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1vw;
    background-color: #F4A698; 
}

.nav-bar-content:hover{
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    cursor: pointer;
}

#nav-bar-content-1, #nav-bar-content-2, #nav-bar-content-3{
    color: black;   
    margin: 5px;
    border-radius: 10px;
}
