.header-nav-bar-content{
    display: flex;
    flex-direction: row;
    position: absolute;
    /* border: 2px solid red; */
    width: 100%;
    padding-right: 0px;
    text-align: right;
    justify-content: flex-end;
}

.nav-bar-content{
    height: 5%;
    width: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1vw;
    background-color: #F4A698; 
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* 
.header-nav-bar-content-inner{
    border: 2px solid blue;
} */

.nav-bar-content:hover{
    width: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    cursor: pointer;
}

#nav-bar-content-1, #nav-bar-content-2, #nav-bar-content-3, #nav-bar-content-4, #nav-bar-content-5{
    color: black;   
    margin: 5px;
    border-radius: 10px;
}


a{
    text-decoration: none;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    /* Collapse navbar into a hamburger menu */
    .header-nav-bar-content {
      flex-direction: column;
    }
    
    .nav-bar-content {
      margin: 10px 0;
    }
  }